<%if(success && success.length){%>
    <br>
    <br>
    <div class="alert alert-warning alert-dismissible fade show" id="success" style="width: 50%; position: absolute; left:28%; top:0; z-index: 10;"  role="alert">
        <%=success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if(error && error.length){%>
    <br>
    <br>
    <div class="alert alert-danger alert-dismissible fade show" id="error" style="width: 50%; position: absolute; left:28%; top:0; z-index:10;" role="alert">
        <%=error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>


