
<div class="nav">
    <div id="nav-box" class="nav-box">
        <a href="http://localhost:3000/listing">
            <i class="fa-solid fa-compass" style="color: #ff3d5a; font-size: 2.5em;"></i>
        </a>
    </div>
    
    <div class="nav-box"><a href="http://localhost:3000/listing">Home</a></div>
    <div class="nav-box"><a href="http://localhost:3000/listing/new">Add New List</a></div>
    
    <div type="button" class="menu">
        <i class="fa-solid fa-bars"></i>
       
        <span class="material-symbols-outlined">account_circle</span>
    </div>

    <div class="menu-pg">
        <%if(!currUser){%>
            <div class="menu-fun"><a href="/signup">Sign Up</a></div>
            <div class="menu-fun"><a href="/login">Log In</a></div>
            <%}%>
    
            <%if(currUser){%>
            <div class="menu-fun">
                    <i class="fa-solid fa-user"></i>
                    <p><%=(currUser.username).toUpperCase()%></p>

            </div>
            
            <div  class="menu-fun"><a style="color:red" href="/logout">Log Out</a></div>
            <%}%>
    </div>
    
</div>


